## Dictionaries

A dictionary is a collection of unordered, changeable and indexed items. In Python dictionaries are written with curly brackets and they have keys and values.

Also known as Maps,Hashtables,Associated Arrays

In [2]:
dic={}
type(dic)

dict

In [3]:
my_dict={"car1":"Audi","car2":"BMW","car3":"Mercedies"}
type(my_dict)

dict

In [6]:
##Access the item values based on keys

my_dict["car2"]

'BMW'

In [7]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

car1
car2
car3

In [9]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercedies

In [11]:
for x in my_dict.items():
    print(x)

('car1', 'Audi')
('car2', 'BMW')
('car3', 'Mercedies')

In [12]:
my_dict["car4"]="Audi2.0"
my_dict

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Mercedies', 'car4': 'Audi2.0'}

In [13]:
# replace the key value

my_dict["car1"]="Maruti"

In [14]:
my_dict

{'car1': 'Maruti', 'car2': 'BMW', 'car3': 'Mercedies', 'car4': 'Audi2.0'}

### Nested Dictionary

In [15]:
car1_Model={'Mercedes':1960}
car2_Model={'Audi':1970}
car3_Model={'Ambassador':1980}

car_type={'car1':car1_Model,'car2':car2_Model,'car3':car3_Model}

In [16]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [17]:
car_type

{'car1': {'Mercedes': 1960},
 'car2': {'Audi': 1970},
 'car3': {'Ambassador': 1980}}

In [18]:
## Indexing

print(car_type['car1'])

{'Mercedes': 1960}

In [20]:
## Nested Indexing

print(car_type['car1']['Mercedes'])

1960

## Codebasic

In [38]:
tel={"kaushal":9560123855,"Ankit":8210366264,"Paa":9304874481}

In [39]:
tel

{'kaushal': 9560123855, 'Ankit': 8210366264, 'Paa': 9304874481}

In [40]:
tel["kaushal"]

9560123855

In [41]:
tel["Maa"]=9910387317
tel

{'kaushal': 9560123855,
 'Ankit': 8210366264,
 'Paa': 9304874481,
 'Maa': 9910387317}

In [42]:
print(tel)

{'kaushal': 9560123855, 'Ankit': 8210366264, 'Paa': 9304874481, 'Maa': 9910387317}

### Delete

In [43]:
## remove items from last

tel.popitem()

('Maa', 9910387317)

In [44]:
tel

{'kaushal': 9560123855, 'Ankit': 8210366264, 'Paa': 9304874481}

In [46]:
tel["Maa"]=9910387317
tel

{'kaushal': 9560123855,
 'Ankit': 8210366264,
 'Paa': 9304874481,
 'Maa': 9910387317}

In [50]:
for key in tel:
    print("key:",key, "value:",tel[key])

key: kaushal value: 9560123855
key: Ankit value: 8210366264
key: Paa value: 9304874481
key: Maa value: 9910387317

### In operator

In [51]:
tel

{'kaushal': 9560123855,
 'Ankit': 8210366264,
 'Paa': 9304874481,
 'Maa': 9910387317}

In [52]:
"Ankit" in tel

True

In [53]:
"wife" in tel

False

# Comprehension

### List Comp

In [1]:
numbers = [1,2,3,4,5,6,7,8,9]
even = []
for i in numbers:
    if i%2 == 0:
        even.append(i)
    
print(even)

[2, 4, 6, 8]

In [2]:
## list comprehension

even = [i for i in numbers if i%2== 0]
even

[2, 4, 6, 8]

In [4]:
sqr_num = [i*i for i in numbers]
sqr_num

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
## Set comprehension

s = set([1,2,3,4,5,6,7,2,3])
s

{1, 2, 3, 4, 5, 6, 7}

In [6]:
even = { i for i in s if i%2==0}
even

{2, 4, 6}

In [7]:
## Dictionary comprehension

cities = ["mumbai","newyork","paris"]
countries = ["India","usa","france"]

z=zip(cities,countries)
z

In [8]:
for a in z:
    print(a)

('mumbai', 'India')
('newyork', 'usa')
('paris', 'france')

In [9]:
d={city:country for city,country in zip(cities,countries)}
d

{'mumbai': 'India', 'newyork': 'usa', 'paris': 'france'}