## List 

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [36]:
dir(items)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [3]:
items=["bread","pasta","fruits","veggies"]

In [4]:
print(items)

['bread', 'pasta', 'fruits', 'veggies']

In [52]:
lst=[]
type(lst)

list

In [55]:
lst # blank list

[]

In [77]:
lst=["Mathematics","chemistry",100,200,300,204]
lst

['Mathematics', 'chemistry', 100, 200, 300, 204]

### index operator

In [71]:
lst[1]

'chemistry'

In [72]:
len(lst)

7

In [5]:
items[2]

'fruits'

In [6]:
type(items)

list

In [7]:
items[1]

'pasta'

In [11]:
# Lists are mutable as we can change the values by index

items[0]="chips"
items

['chips', 'pasta', 'fruits', 'veggies']

### Slicing

In [12]:
items[0:2]

['chips', 'pasta']

In [40]:
items[1:3]

['pasta', 'fruits']

In [15]:
items[0:]

['chips', 'pasta', 'fruits', 'veggies']

In [16]:
items[-1]

'veggies'

In [18]:
items[:-1]

['chips', 'pasta', 'fruits']

### Append

In [25]:
items=["bread","pasta","fruits","veggies"]
items

['bread', 'pasta', 'fruits', 'veggies']

In [26]:
# adding new value in the list , added in last

items.append("butter")
items

['bread', 'pasta', 'fruits', 'veggies', 'butter']

In [43]:
items=["bread","pasta","fruits","veggies"]
items

['bread', 'pasta', 'fruits', 'veggies']

In [78]:
# nested list

lst.append(["John","Ankit"])
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, ['John', 'Ankit']]

In [79]:
lst.append(["Hello", "World"])
lst

['Mathematics',
 'chemistry',
 100,
 200,
 300,
 204,
 ['John', 'Ankit'],
 ['Hello', 'World']]

In [80]:
lst[-1]

['Hello', 'World']

In [83]:
lst[0:5]

['Mathematics', 'chemistry', 100, 200, 300]

### Insert

In [44]:
# inserting new value in the list at particular index

items.insert(1,"butter")
items

['bread', 'butter', 'pasta', 'fruits', 'veggies']

In [49]:
items=["bread","pasta","fruits","veggies"]
items

['bread', 'pasta', 'fruits', 'veggies']

In [50]:
items.insert(2,"butter")
items

['bread', 'pasta', 'butter', 'fruits', 'veggies']

In [70]:
lst.insert(2,"English")
lst

['Mathematics', 'chemistry', 'English', 100, 200, 300, 204]

In [84]:
lst

['Mathematics',
 'chemistry',
 100,
 200,
 300,
 204,
 ['John', 'Ankit'],
 ['Hello', 'World']]

### Extend

In [88]:
lst.extend(["Ram","Shyam"])
lst

['Mathematics',
 'chemistry',
 100,
 200,
 300,
 204,
 ['John', 'Ankit'],
 ['Hello', 'World'],
 'Ram',
 'Shyam']

### Pop() method

In [89]:
lst.pop() # by default last element

'Shyam'

In [90]:
lst

['Mathematics',
 'chemistry',
 100,
 200,
 300,
 204,
 ['John', 'Ankit'],
 ['Hello', 'World'],
 'Ram']

In [91]:
lst.pop(7)
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, ['John', 'Ankit'], 'Ram']

In [93]:
lst[1]="History"
lst

['Mathematics', 'History', 100, 200, 300, 204, ['John', 'Ankit'], 'Ram']

### Concatenation

In [31]:
food=["bread","pasta","fruits","veggies"]
bathroom=["shampoo","soap","facewash"]
items=food+bathroom
items

['bread', 'pasta', 'fruits', 'veggies', 'shampoo', 'soap', 'facewash']

In [41]:
food+"soda" # concatenation of list+string is not possible

TypeError: can only concatenate list (not "str") to list

### Length function

In [33]:
len(items)

7

### in operator

In [34]:
"bread" in items

True

In [35]:
"soda" in items

False

In [94]:
lst

['Mathematics', 'History', 100, 200, 300, 204, ['John', 'Ankit'], 'Ram']

In [95]:
"chemistry" in lst

False

In [96]:
200 in lst

True

In [97]:
"john" in lst

False

### Various Operations in List

In [100]:
list=[1,2,3,4,5,6,7,8,9,11]
len(list)

10

In [102]:
sum(list)

56

In [103]:
list*2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11]

In [104]:
list1=[1,1,2,3,4,4,4,5,6,6,7,7,7,7,7,8]
len(list1)

16

In [105]:
sum(list1)

79

In [106]:
list1.copy()

[1, 1, 2, 3, 4, 4, 4, 5, 6, 6, 7, 7, 7, 7, 7, 8]

In [110]:
list1.count(7)

5

In [116]:
# Returns the index of first occurrence. Start and End index are not necessary parameters

list1.index(8,1,16)

15

In [117]:
list1.index(1,1,16)

1

In [120]:
min(list1)

1

In [121]:
max(list)

11

In [122]:
max(list1)

8

In [1]:
items=["bread","pasta","fruits","veggies"]
items

['bread', 'pasta', 'fruits', 'veggies']

In [2]:
items.sort()
items

['bread', 'fruits', 'pasta', 'veggies']

In [3]:
items.reverse()
items

['veggies', 'pasta', 'fruits', 'bread']

# Exercise

#### Q1). Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [2]:
exp = [2200,2350,2600,2130,2190]
exp

[2200, 2350, 2600, 2130, 2190]

In [4]:
print("In Feb, how many dollars you spent extra compare to January : ",exp[1]-exp[0])

In Feb, how many dollars you spent extra compare to January :  150

In [5]:
print("total expense in first quarter of the year : ",exp[0]+exp[1]+exp[2])

total expense in first quarter of the year :  7150

In [17]:
print("if you spent exactly 2000 dollars in any month : ",2000 in exp)

if you spent exactly 2000 dollars in any month :  False

In [3]:
exp.append(1980)
print("Add june month expense of 1980 to our monthly expense list :",exp)

Add june month expense of 1980 to our monthly expense list : [2200, 2350, 2600, 2130, 2190, 1980]

In [4]:
exp[3] = exp[3] - 200
print("Expenses after 200$ return in April:",exp)

Expenses after 200$ return in April: [2200, 2350, 2600, 1930, 2190, 1980]

### Q2). You have a list of your favourite marvel super heros.
heros=['spider man','thor','hulk','iron man','captain america']

Using this find out,

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [19]:
heros=['spider man','thor','hulk','iron man','captain america']
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [20]:
len(heros)

5

In [21]:
heros.append('black panther')
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [22]:
heros.pop(5)
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [23]:
heros[3]='blackpanther'
heros

['spider man', 'thor', 'hulk', 'blackpanther', 'captain america']

In [24]:
heros[1:3]=['dr strange']
heros

['spider man', 'dr strange', 'blackpanther', 'captain america']

In [25]:
heros.sort()
heros

['blackpanther', 'captain america', 'dr strange', 'spider man']