### Sets

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [2]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [3]:
set_var={1,2,3,4}
set_var

{1, 2, 3, 4}

In [1]:
## doesn't contain duplicate value

set_var={1,2,3,4,3,2}
set_var

{1, 2, 3, 4}

In [5]:
set_var={"Avengers","Hitman","Ironman"}
print(set_var)

{'Avengers', 'Hitman', 'Ironman'}

In [6]:
## doesn't support indexing and  subscriptable

set_var[0]

TypeError: 'set' object is not subscriptable

In [9]:
set_var('Avengers')

TypeError: 'set' object is not callable

In [10]:
## Inbuilt function in sets

set_var

{'Avengers', 'Hitman', 'Ironman'}

In [12]:
set_var.add("Hulk")
print(set_var)

{'Avengers', 'Hitman', 'Ironman', 'Hulk'}

- 1 Difference B-A or A-B

In [13]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [14]:
set2.difference(set1)

{'Hulk2'}

In [15]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [18]:
## difference and update the set

set2.difference_update(set1)

In [19]:
print(set2)

{'Hulk2'}

- 2 Intersection

In [25]:
set1={"Avengers","IronMan","Hitman",}
set2={"Avengers","IronMan","Hitman","Hulk2"}

In [26]:
set1.intersection(set2)

{'Avengers', 'Hitman', 'IronMan'}

In [27]:
set1

{'Avengers', 'Hitman', 'IronMan'}

In [30]:
set1.add("Batman")
set1

{'Avengers', 'Batman', 'Hitman', 'IronMan'}

In [31]:
set1.intersection(set2)

{'Avengers', 'Hitman', 'IronMan'}

- 3 Union

In [32]:
set1.union(set2)

{'Avengers', 'Batman', 'Hitman', 'Hulk2', 'IronMan'}

In [33]:
set1.symmetric_difference(set2)

{'Batman', 'Hulk2'}

In [35]:
set1.pop()

'IronMan'

In [36]:
set1

{'Avengers', 'Batman', 'Hitman'}

In [38]:
set2.issubset(set1)

False

In [41]:
set1.update(set2)
set1

{'Avengers', 'Batman', 'Hitman', 'Hulk2', 'IronMan'}

In [42]:
## Remove a particular member

set1.remove('Batman')
set1

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

## Codebasic

In [44]:
basket={"orange","apple","mango","banana","orange"}

In [46]:
print(type(basket))

<class 'set'>

In [47]:
basket

{'apple', 'banana', 'mango', 'orange'}

In [48]:
basket[0]

TypeError: 'set' object is not subscriptable

In [50]:
# if blank defines dictionary
a={}
type(a)

dict

In [52]:
a={'something'}
type(a)

set

In [53]:
## set allows list as an arguement

num=[1,2,3,4,2,3,4]
type(num)

list

In [55]:
unique_num=set(num)
print(unique_num)()
type(unique_num)

{1, 2, 3, 4}

set

In [57]:
unique_num.add(5)
unique_num

{1, 2, 3, 4, 5}

## Frozen sets (value can't be changed)

In [58]:
fs= frozenset(num)
fs

frozenset({1, 2, 3, 4})

In [59]:
## doesn't allow to add a new element

fs.add(5)

AttributeError: 'frozenset' object has no attribute 'add'

In [60]:
x= {"a","b","c"}

In [61]:
"a" in x

True

In [62]:
"g" in x

False

In [63]:
x

{'a', 'b', 'c'}

In [66]:
y={"a","g","h"}
y

{'a', 'g', 'h'}

In [68]:
x|y # union

{'a', 'b', 'c', 'g', 'h'}

In [70]:
x & y # intersection

{'a'}

In [72]:
x-y # differenece

{'b', 'c'}

In [73]:
x.union(y)

{'a', 'b', 'c', 'g', 'h'}

In [74]:
x.intersection(y)

{'a'}

In [76]:
x.difference(y)

{'b', 'c'}