In [79]:
## Binary representation 

num= 1000
print('Binary of number 1000 is:',format(num,'b'))

Binary of number 1000 is: 1111101000

## String practice

In [142]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [95]:
str='Kaushal'

In [1]:
type(True)

bool

In [2]:
int(True)

1

In [3]:
int(False)

0

In [4]:
print(True,False)

True False

In [12]:
str1='kaushal'

In [13]:
str1.center(10)

' kaushal  '

In [14]:
str1.capitalize()

'Kaushal'

In [20]:
print(str1.isalnum())

True

In [26]:
str2="kumar123"
str2

'kumar123'

In [27]:
print(str2.isalnum())

True

In [29]:
print(str2.isalnum()) #check if all char are numbers
print(str2.isalpha()) #check if all char in the string are alphabetic
print(str2.isdigit()) #test if string contains digits
print(str2.istitle()) #test if string contains title words
print(str2.isupper()) #test if string contains upper case
print(str2.islower()) #test if string contains lower case
print(str2.isspace()) #test if string contains spaces
print(str2.endswith('k')) #test if string endswith a d
print(str2.startswith('K')) #test if string startswith H

True
False
False
False
False
True
False
False
False

In [56]:
str2="kaushal"

In [67]:
print(str2.isalnum()) #check if all char are numbers

True

In [58]:
print(str2.isalpha()) #check if all char in the string are alphabetic

True

In [59]:
print(str2.isdigit()) #test if string contains digits

False

In [60]:
print(str2.istitle()) #test if string contains title words

False

In [61]:
print(str2.isupper()) #test if string contains upper case

False

In [62]:
print(str2.islower()) #test if string contains lower case

True

In [63]:
print(str2.isspace()) #test if string contains spaces

False

In [64]:
print(str2.endswith('l')) #test if string endswith a d

True

In [66]:
print(str2.startswith('k')) #test if string startswith H

True

In [46]:
print(str2.isascii()) #check if char are ascii

True

In [47]:
print(str2.isnumeric())

False

In [68]:
print(str2.capitalize())

Kaushal

In [69]:
True and True

True

In [70]:
True and False

False

In [71]:
True or False

True

In [72]:
True or True

True

In [73]:
str1='Hello World'
str2='kaushal'

In [74]:
str2.isalpha() or str1.isnum()

True

In [77]:
str2.replace('kaushal' , 'kumar')

'kumar'

In [78]:
str2.upper()

'KAUSHAL'

## indexing

In [141]:
name='kaushal'

In [82]:
name[2]

'u'

In [83]:
name[6]

'l'

In [84]:
name[0]

'k'

In [85]:
name[-1]

'l'

In [86]:
name[-3]

'h'

In [87]:
print(name)

kaushal

## slicing

In [88]:
name[0:2]

'ka'

In [89]:
name[:2]

'ka'

In [90]:
name[-3:-1]

'ha'

In [91]:
name[-3:]

'hal'

## length

In [92]:
len(name)

7

In [94]:
name='Kaushal Kumar Jha'
print(name)

Kaushal Kumar Jha

In [95]:
len(name)

17

In [96]:
name[0:9]

'Kaushal K'

In [97]:
name[-6:-1]

'ar Jh'

In [98]:
name[-6:]

'ar Jha'

In [99]:
name[:9]

'Kaushal K'

## in Operator

In [100]:
name='kaushal,ankit,rupa,vivaan'
print(name)

kaushal,ankit,rupa,vivaan

In [101]:
'upkar' in name

False

In [102]:
'kaushal' in name

True

In [103]:
'upkar' not in name

True

In [105]:
name[0]='kumar' # strings are immutable and can't be changed if fixed once

TypeError: 'str' object does not support item assignment

## Replace

In [106]:
name.replace('kaushal','anand')

'anand,ankit,rupa,vivaan'

In [107]:
name

'kaushal,ankit,rupa,vivaan'

In [108]:
name=name.replace('kaushal','anand')
name

'anand,ankit,rupa,vivaan'

In [109]:
name

'anand,ankit,rupa,vivaan'

### upper and lower

In [110]:
name.upper()

'ANAND,ANKIT,RUPA,VIVAAN'

In [111]:
'ABCDEFG'.lower()

'abcdefg'

In [112]:
name[1]

'n'

In [113]:
name=name.upper()
name

'ANAND,ANKIT,RUPA,VIVAAN'

In [114]:
name

'ANAND,ANKIT,RUPA,VIVAAN'

In [115]:
name[7]

'N'

In [118]:
name.istitle()

False

In [119]:
name.isalpha()

False

In [122]:
name.index('RUPA')

12

In [123]:
name.isdigit()

False

### concatenate

In [127]:
# only possible with same string+string

state=29
text='total states in india = '
text+state

TypeError: can only concatenate str (not "int") to str

In [128]:
text+str(state)

'total states in india = 29'

In [1]:
s1="Kaushal"
s2=" Kumar"
s3=" Jha"
s1+s2+s3

'Kaushal Kumar Jha'

In [140]:
s1+' '+s2+' '+s3

'Kaushal Kumar Jha'

### quoting in string

In [131]:
text='Let's learn pyhton.'
text

SyntaxError: invalid syntax (<ipython-input-131-1e8cce9d0b85>, line 1)

In [132]:
text="Let's learn pyhton."
text

"Let's learn pyhton."

In [134]:
text='Let\'s learn pyhton.'
text

"Let's learn pyhton."

In [135]:
text='Hello "world"'
text

'Hello "world"'

### multiline string using triple quotes

In [138]:
Address="Bhagawati colony 
Jodhadih more, chas 
Bokaro-827013"
Address

SyntaxError: EOL while scanning string literal (<ipython-input-138-a4e03df06d71>, line 1)

In [136]:
Address='''Bhagawati colony 
Jodhadih more, chas 
Bokaro-827013'''
Address

'Bhagawati colony \nJodhadih more, chas \nBokaro-827013'

In [137]:
Address='''Bhagawati colony 
Jodhadih more, chas 
Bokaro-827013'''
print(Address)

Bhagawati colony
Jodhadih more, chas
Bokaro-827013

### Special characters : newline and tab

In [149]:
s='Hey bro'  # in same line
s

'Hey bro'

In [151]:
s='''Hey
bro'''  # in same line with new tab
s

'Hey\nbro'

In [152]:
s='''Hey
bro'''   # multiple line
print(s)

Hey
bro

In [153]:
s='Hey\nbro'  # new line
print(s)

Hey
bro

In [154]:
s='Hey\tbro'  # same line with tab 
print(s)

Hey	bro

In [157]:
first='Kaushal'
last='Jha'
print('My full name is:',first+' '+last)

My full name is: Kaushal Jha

In [165]:
# Format method

print('My full name is {} {}.'.format(first,last))

My full name is Kaushal Jha.

In [164]:
print('My full name is {} {}.'.format(last,first))

My full name is Jha Kaushal.

In [163]:
print(f'My full name is {first} {last}.')

My full name is Kaushal Jha.

### Codebasic exercise

- 1

In [178]:
street='5 bhagawati colony'
city='Bokaro'
country='India'

In [179]:
print("Address:",street + '\n' + city + '\n' + country)

Address: 5 bhagawati colony
Bokaro
India

### f string

In [181]:
print("Address:",f'{street}\n{city}\n{country}')

Address: 5 bhagawati colony
Bokaro
India

- 2

In [182]:
s='Earth revolves around the sun'

In [184]:
print(s[6:14])

revolves

In [185]:
print(s[-3:])

sun

- 3

In [186]:
fruits=10
veg=15

In [189]:
print(f"I eat {veg} veggies and {fruits} fruits daily.")

I eat 15 veggies and 10 fruits daily.

- 4

In [190]:
s='maine 200 banana khaye'

In [196]:
s=s.replace('maine 200 banana khaye' , 'maine 10 samosa khaye')

In [197]:
print(s)

maine 10 samosa khaye